## using python 3.8
jsonschema==4.21.1
tqdm==4.66.2
matplotlib==3.7.5
opencv-python==4.9.0.80
pandas==2.0.3
cohere==5.0.0
python-dotenv==0.19.0
requests==2.31.0
multiprocess==0.70.16
aiohttp==3.9.5
nest-asyncio==1.6.0
pytest==8.3.3